/* fonte avec serifs utilisée dans la majorité du site */
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');

:root {
    /* CSS HEX */
    --color-space-cadet: #22223bff;
    --color-independence: #4a4e69ff;
    --color-heliotrope-gray: #9a8c98ff;
    --color-silver-pink: #c9ada7ff;
    --color-isabelline: #f2e9e4ff;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-decoration: none;
    scroll-behavior: smooth;
}

html, body {
    min-height: 100vh;
    background: var(--color-isabelline);
    font-size: 2.5vw;
}
.h1 {
    font-size: 1.9em;
}
.h2 {
    font-family: Rosarivo;
    font-size: 1.9em;
    line-height: 62px;
}
.page {
    position: relative;
    font-size: min(1em, 30px);
}
.page .h2 {
    padding: 60px;
}

.flex {
    display: flex;
}

.field,
.button {
    font-size: 1em;
    padding: 15px;
    border-radius: 6px;
    width: 300px;
}
.field {
    height: 1em;
    color: var(--color-space-cadet);
}
textarea.field {
    /* On spécifie la hauteur d'une ligne, 
    puis on prévoit la place pour 4 fois cette hauteur */
    line-height: 1.2em;
    height: calc(4 * 1.2em);
}
.button {
    color: var(--color-isabelline);
    background: var(--color-space-cadet);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}




#welcome {
    /* j'aime bien faire ça à chaque fois que j'ai une section
    cela permet de rendre un peu indépendant le CSS des éléments
    qui vont s'y trouver (en terme de positionnement surtout) */
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

#welcome .col {
    width: 50vw;
    text-align: center;
}

#welcome .h1 {
    font-family: Rosarivo;
    /* font-size: 44px; */
    line-height: 62px;
    text-align: center;
    color: var(--color-space-cadet);
}
#welcome .h2 {
    font-size: 1em;
    text-align: center;
    color: var(--color-silver-pink);
}

#welcome .photo {
    /* Dimensionnement "non responsive" :
    width: 320px;
    height: 320px; */
    /* Dimensionnement basé sur la largeur de notre fenêtre (30%) */
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, .25);
    background: #FF9AE6;
}




#projects {
    background: var(--color-heliotrope-gray);
    padding-bottom: 120px;
}
#projects .h2 {
    color: var(--color-isabelline)
}

#projects ul.projects-list {
    display: flex;
    overflow-x: hidden;
    aoverflow-y: visible; /*  FIXME: ne devrait pas être nécessaire... */
    padding: 20px 0;
}

#projects li.project {
    display: inline-block;
    background: #555;
    margin-right: 60px;
    min-width: calc(50vw - 30px);
    height: calc(30vw - 30px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, .14);
    /* box-shadow: 4px 4px 15px rgba(0, 0, 0, .25); */

}
#projects li.project img {
    min-width: 100%;
    min-height: 100%;
}


#contact {
    background: var(--color-independence);
    padding: 0 0 calc(20vw) 0;
    overflow: hidden;
}
#contact .flex {
    padding: 0 60px;
}
#contact .h2,
#contact .description,
#contact .label {
    color: var(--color-isabelline);
}
#contact .description {
    width: calc(35vw - 0px);
    margin-right: 60px;
    line-height: 1.25em
}

#contact .form {
    /* max-width: 800px; */
    max-width: 1000px;
    width: calc(100% - 400px - 60px);
}


#contact .form > * {
    display: block;
}

#contact .description,
#contact .form
{
    font-family: 'Red Rose', cursive;
    z-index: 9;
}
#contact .moon {
    position: absolute;
    top: 50vh;
    left: 10vw;
}

#contact .field {
    width: calc(100% - 30px);
    margin-bottom: 47px;
    background: rgba(255, 255, 255, .5);
    transition: all 1.5s ease;
}
#contact .field:focus {
    background: rgba(255, 255, 255, .9);
    transition: all .3s ease;
}
#contact .label {
    margin-bottom: 15px;
}

#contact .mountain {
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 0;
    transition: bottom .3s normal;
}
#contact .back.mountain {
    filter: blur(5px);
}
#contact .front.mountain {
    position: 100vw;
}
#contact .cloud {
    animation-name: float;
    /* animation-timing-function: linear; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes float {
    0% { margin-top: 0px }
    100% { margin-top: 30px }
}

/* TODO : responsiver le formulaire de contact */

@media (max-width: 900px) {
    .secondary-content {
        display: none;
    }
    #contact .form {
        width: 100%;
    }
    #contact .field {
        background: rgba(255, 255, 255, .9);
    }
}

@media (max-width: 20cm) {
    html, body {
        font-size: 5vw;
    }
    #welcome {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
    }
    #welcome .col {
        width: 100vw !important;
    }

    #welcome .photo {
        width: 60vw;
        height: 60vw;
        margin-bottom: 100px;
    }

}